{% extends('SpiritDevDBoxAdminBundle:AdminDemand:adminLayout.html.twig') %}

{% block title %}{{ 'pagetitle.admin'|trans }} - {{ parent() }}{% endblock %}

{% block adm_content %}

    <h4 class="sub-header">users mamangment</h4>

{% endblock adm_content %}